/*add some style, need to scope (using the typeIdentifier as class prefix) every style declaration to prevent collision */
@import url("base.css");

iframe #cbaframe{
    border:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}